body{
    max-width: 1366px;
    margin: 0 auto}

.quadrado{

    margin-top: 3%;
    margin-left: 4%;
    width: 1.4%;
}
.menu{
    margin-left: 6.2%;
    margin-top: -1.7%;
    font-family: inter;
    font-size: 18px;
}
.barra{
    width: 3%;
    height: 1px;
    background-color: #ebedef;
    transform: rotate(270deg);
    margin-left: 8.5%;
    margin-top: -0.8%;

}
.assine{
    margin-left: 11%;
    margin-top: -0.9%;
    font-family: inter;
    font-size: 18px;

}
.globoi{
    margin-left: 41%;
    margin-top: -1.9%;
    width: 15%;
}
.conta-globo{
    float: right;
    margin-top: -1.4%;
    margin-right: 11.5%;
    font-size: 18px;
    font-family: Inter;

}
.pessoinha{
    float: right;
    margin-right: -9.8%;
    margin-top: -1.9%;
    width: 1.6%;
}
.barra-1{
    width: 3%;
    height: 1px;
    background-color: #ebedef;
    transform: rotate(270deg);
    float: right;
    margin-right: -11.8%;
    margin-top: -0.7%;
}
.buscas{
    float: right;
    margin-right: -15%;
    margin-top: -1.1%;
    font-family: inter;
    font-size: 18px;
}
.lupa{
    float: right;
    margin-right: -18%;
    margin-top: -1.6%;
    width: 2.3%;
}
.espaco{
    width: 100%;
    height: 1px;
    background-color: #ebedef;
    margin-top: 1%;
}
.g1{
    text-decoration: none;
}
.g11{
 
    font-family: inter;
    display: block;
    margin-left: 5%;
    color: rgb(196, 23, 12);
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.4%;
}
.o-globo{
    text-decoration: none;
}
.globin{
    margin-left: 13%;
    color: rgb(30, 76, 154);
    font-size: 20px;
    font-weight: 600;
    margin-top: -1.7%;
    font-family: inter;

    
    
}
.valor1{
    text-decoration: none;
}
.valor{
    margin-left: 23%;
    font-family: inter;
    margin-top: -1.7%;
    font-size: 20px;
    color: rgb(0, 103, 103);
    font-weight: 600;
   
}
.ge1{
    text-decoration: none;
}
.ge{
    margin-left: 32%;
    font-family: inter;
    margin-top: -2%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(6, 170, 72);   
}
.cartola1{
    text-decoration: none;
}
.cartola{
    margin-left: 39%;
    font-family: inter;
    margin-top: -1.8%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(255, 116, 0); 
   
}
.globoplay1{
    text-decoration: none;
}
.globoplay{
    margin-left: 48%;
    font-family: inter;
    margin-top: -1.8%;
    font-size: 20px;
    font-weight: 600;  
    color: rgb(251, 2, 52);
}
.gshow1{
    text-decoration: none;
}
.gshow{
    margin-left: 58%;
    font-family: inter;
    margin-top: -1.8%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(255, 103, 0); 
   
}
.bbb1{
    text-decoration: none;
}
.bbb{
    margin-left: 67%;
    font-family: inter;
    margin-top: -1.8%;
    font-size: 20px;
    font-weight: 600;
    color: rgb(80, 1, 179);  
    
}
.quem1{
    text-decoration: none;
}
.quem{
    margin-left: 76%;
    font-family: inter;
    margin-top: -1.8%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(51, 51, 51); 
  
}
.receitas1{
    text-decoration: none;
}
.receitas{
    margin-left: 85%;
    font-family: inter;
    margin-top: -1.8%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(165, 20, 125); 
    
}
.barra-2{
    width: 100%;
    height: 1px;
    background-color: #ebedef;
    margin-top: 0.5%;
}
.gif1{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;

}
.lula-texto{
    text-decoration: none;
   display: block;
   margin-top: 5%;
   margin-left: 5%;
   font-size: 50px;
   font-weight: 600;
   font-family: inter;
   color: rgb(196, 23, 12);

}
.ponto-1{
    width: 8px;
    height: 8px;
    background-color: rgb(196, 23, 12);
    border-radius: 50%;
    margin-top: 2%;
    margin-left: 5%;
}
.subtiutlo-lula1{
    text-decoration: none;
    margin-left: 6.4%;
    margin-top: -0.79%;
    display: block;
    font-family: inter;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.barras-3{
    width: 46%;
    height: 1px;
    background-color: #ebedef;
    margin-top: 2%;
    margin-left: 4.5%;
}
.aedes-img{
    margin-top: 1.6%;
    margin-left: 4%;
    width: 200px;
    border-radius: 5%;

}
.dengue{
    text-decoration: none;
   display: block;
   margin-top: 1%;
   margin-left: 3.7%;
   font-size: 20px;
   font-weight: 600;
   font-family: inter;
   color: rgb(196, 23, 12);

}
.ponto-2{
    width: 8px;
    height: 8px;
    background-color: rgb(196, 23, 12);
    border-radius: 50%;
    margin-top: 1.2%;
    margin-left: 3.3%;
}
.subtitulo-dengue{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 4.2%;
    margin-top: -1.2%;
}
.jandira-img{
    width: 200px;
    margin-left: 20.2%;
    display: block;
    margin-top: -18.5%;
    border-radius: 5%;
}
.titulo-jandira{
    text-decoration: none;
    display: block;
    margin-top: 1%;
    margin-left: 20.2%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(196, 23, 12);
}
.ponto-3{
    width: 8px;
    height: 8px;
    background-color: rgb(196, 23, 12);
    border-radius: 50%;
    margin-top: 1.2%;
    margin-left: 19.9%;
}
.subtitulo-jandira{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 21.2%;
    margin-top: -1%;
}
.renato-cariani-img{
    width: 200px;
    margin-left: 36.4%;
    display: block;
    margin-top: -18.4%;
    border-radius: 5%;
}
.titulo-renato-cariani{
    text-decoration: none;
    display: block;
    margin-top: 1%;
    margin-left: 36.4%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(196, 23, 12);
}
.ponto-4{
    width: 8px;
    height: 8px;
    background-color: rgb(196, 23, 12);
    border-radius: 50%;
    margin-top: 1.2%;
    margin-left: 36%;
}
.subtitulo-renato-cariani{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 37%;
    margin-top: -1%;
}
.barras-4{
    width: 46%;
    height: 1px;
    background-color: #ebedef;
    margin-top: 2%;
    margin-left: 4.5%;
}
.cracolandia-img{
margin-top: 1.6%;
margin-left: 4%;
width: 200px;
border-radius: 5%;
}
.cracolandia-texto{
    text-decoration: none;
    display: block;
    margin-top: 1%;
    margin-left: 3.7%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(196, 23, 12);
}
.subtitulo-cracolandia{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 4.2%;
    margin-top: -1.2%;
}
.misterio-do-aviao-img{
    width: 200px;
    margin-left: 20.2%;
    display: block;
    margin-top: -18.5%;
    border-radius: 5%;
}
.titulo-misterio-do-aviao{
    text-decoration: none;
    display: block;
    margin-top: 1%;
    margin-left: 20.2%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(196, 23, 12);
}
.subtitulo-aviao{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20.7%;
    margin-top: -1%;
}
.fabiana-justus-img{
    width: 200px;
    margin-left: 36.4%;
    display: block;
    margin-top: -18.4%;
    border-radius: 5%;
}
.titulo-fabiana-justus{
    text-decoration: none;
    display: block;
    margin-top: 1%;
    margin-left: 36.4%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(196, 23, 12);
}
.subtitulo-fabiana{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-left: 36.9%;
    margin-top: -1%;
}
.divisao{
    width: 74%;
    height: 1px;
    background-color:#ebedef ;
    transform: rotate(270deg);
    margin-left: 16.5%;
    margin-top: -30%;
}
.allianz-img{
    width: 250px;
    float: right;
    margin-top: -37%;
    margin-right: 25.3%;
    border-radius: 5%;
}
.titulo-allianz{
    float: right;
    text-decoration: none;
    color: rgb(6, 170, 72) ;
    margin-right: 25.5%;
    margin-top: -25%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
}
.ponto-5{
    width: 8px;
    height: 8px;
    background-color: rgb(6, 170, 72) ;
    float: right;
    border-radius: 50%;
    margin-right: 42.9%;
    margin-top: -17%;
    
}
.subtitulo-allianz{
    text-decoration: none;
    display: block;
    font-family: inter;
    color: black;
    font-size: 16px;
    float: right;
    margin-right: 25.5%;
    margin-top: -17.5%;
}
.copa-do-brasil-img{
    width: 250px;
    float: right;
    margin-top: -14%;
    margin-right: 24.3%;
    border-radius: 5%;
}
.titulo-copa-do-brasil{
    float: right;
    text-decoration: none;
    color: rgb(6, 170, 72) ;
    font-size: 20px;
    font-weight: 600;
    margin-top: -2%;
    margin-right: 24%;
    font-family: inter;

}
.segundo-titulo{
    float: right;
    text-decoration: none;
    color: rgb(6, 170, 72) ;
    font-size: 20px;
    font-weight: 600;
    margin-top: 6%;
    margin-right: -17.4%;
    font-family: inter;
}
.cuiaba-img{
    width: 250px;
    float: right;
    margin-top: 12%;
    margin-right: -18.4%;
    border-radius: 5%;
}
.titulo-cuiaba{
    float: right;
    text-decoration: none;
    color: rgb(6, 170, 72) ;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25%;
    margin-right: -18.5%;
    font-family: inter;
}
.divisao-2{
    width: 74%;
    height: 1px;
    background-color:#ebedef ;
    transform: rotate(270deg);
    margin-left: 41.5%;
    margin-top: -4%;
}
.sister-pistola-img{
    width: 250px;
    float: right;
    margin-top: -39.6%;
    margin-right: -42.4%;
    border-radius: 5%;
}
.titulo-sister-pistola{
    text-decoration: none;
    float: right;
    margin-right: -41%;
    margin-top: -27%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(255, 103, 0);
}
.davi-consiencia-img{
    width: 250px;
    float: right;
    margin-top: -18.6%;
    margin-right: -42.4%;
    border-radius: 5%;
}
.titulo-davi-consiencia{
    text-decoration: none;
    float: right;
    margin-right: -41.4%;
    margin-top: -6%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: rgb(255, 103, 0);
}
.quem-fica-img{
    width: 250px;
    float: right;
    margin-top: 2%;
    margin-right: -41.8%;
    border-radius: 5%; 
}
.quem-fica-titulo{
    text-decoration: none;
    float: right;
    margin-right: -39%;
    margin-top: 13%;
    font-size: 20px;
    font-weight: 600;
    font-family: inter;
    color: black
}
.voto-unico-img{
    float: right;
    margin-top: 20%;
    margin-right: -39%;
}
.voto-da-torcida-img{
    float: right;
    margin-top: 24%;
    margin-right: -39.3%;
}
.segunda-gif-img{
    margin-top: 12%;
    margin-left: 3.5%;
}
.deu-o-que-falar-texto{
    margin-top: 5%;
    font-size: 23px;
    font-family: inter;
    color:rgb(255, 103, 0) ;
    margin-left: 4%;
    font-weight: 600;
}
.botao{
    width: 14%;
    height: 50px;
    display: inline-flex;
    float: right;
    background-color:rgb(255, 103, 0) ;
    margin-top: -3%;
    margin-right: 4%;
    border-radius: 5%;
}
.repercutiu{
    text-decoration: none;
    color: white;
    font-size: 16px;
   font-family: inter;
   font-weight: 600;
   margin-top: 8%;
   margin-left: 5%;
}
.espaco-laranja{
    width: 22%;
    height: 2.5px;
    background-color: rgb(255, 103, 0);
    margin-top: 1%;
    margin-left: 3.6%;
    
}
.espaco-branco{
    width: 71%;
    height: 2.5px;
    background-color: #ebedef;
    margin-top: -0.2%;
    margin-left: 25%;
}
.rogriguinho-img{
    width: 300px;
    margin-left: 3.6%;
    margin-top: 2%;
    border-radius: 5%;
}
.quadradinho-branco{


width: 305px;
height: 86px;
border-radius: 5%;
margin-left: 3.4%;
margin-top: -0.4%;

background-color:rgba(255, 255, 255, 0.842)
}
.rodriguinho-texto{
    text-decoration: none;
    color: rgb(255, 103, 0);
    margin-top: -4.5%;
    display: block;
    margin-left: 5%;
    font-family: Inter;
    font-weight: 600;
 
}
.matheus-treta-img{
    width: 300px;
    margin-left: 28%;
    margin-top: -17%;
    border-radius: 5%;
    display: block;
}
.treta-matheus-box{
    width: 305px;
    height: 86px;
    border-radius: 5%;
    margin-left: 29.8%;
    margin-top: -0.4%;
    background-color: rgba(255, 255, 255, 0.842);
}
.treta-matheus-titulo{
    text-decoration: none;
    color: rgb(255, 103, 0);
    margin-top: -4.5%;
    display: block;
    margin-left: 29.4%;
    font-family: Inter;
    font-weight: 600;
}
.juninhoxdaviimg{
    width: 300px;
    float: right;
    margin-top: -17%;
    border-radius: 5%;
    display: block;
    margin-right: 25.5%;
}    
.juninhoxdavi-box{
    width: 305px;
    height: 86px;
    border-radius: 5%;
    float: right;
    margin-top: -4.5%;
    background-color: rgba(255, 255, 255, 0.842);
    margin-right: 25.3%;
}
.titulo-juninhoxdavi{
    text-decoration: none;
    color: rgb(255, 103, 0);
    margin-top: -4.5%;
    display: block;
    float: right;
    font-family: Inter;
    font-weight: 600;
    margin-right: -21%;
    margin-top: -2.7%;
}
.yasmin-fiodecabeloimg{
    width: 300px;
    height: 169px;
    float: right;
    margin-top: -18.3%;
    border-radius: 5%;
    display: block;
    margin-right: -47%
}
.yasmin-fiodecabelo-box{
    width: 305px;
    height: 86px;
    border-radius: 5%;
    float: right;
    margin-top: -5.7%;
    background-color:rgba(255, 255, 255, 0.842) ;
    margin-right: -47.5%;
}
.texto-yasmin-fiodecabelo{
    text-decoration: none;
    color: rgb(255, 103, 0);
    margin-top: -4.5%;
    display: block;
    float: right;
    font-family: Inter;
    font-weight: 600;
    margin-right: -45%;
    margin-top: -4%;
}
.jornalismo{
    text-decoration: none;
    font-family: inter;
    font-size: 35px;
    margin-left: 4%;
    color: rgb(196, 23, 12);
    font-weight: 600;
    
}
.linha-jornalismo{
    width: 15%;
    height: 2.5px;
    background-color:rgb(196, 23, 12) ;
    margin-top: 0.5%;
    margin-left: 3.6%;
}
.linha-branca-jornalismo{
    width: 10%;
    height: 2.5px;
    background-color:#ebedef;
    margin-top: -0.2%;
    margin-left: 18.6%;
}
.hospital-img{
    width: 330px;
    margin-top: 2%;
    margin-left: 3.5%;
    border-radius: 5%;
}
.caixa-jornalismo{
    width: 330px;
    height: 120px;
    border-radius: 5%;
    background-color:rgb(196, 23, 12) ;
    margin-left: 3.5%;
    margin-top: -1%;
    
}
.jornalismo-titulo{
    text-decoration: none;
    margin-top: -6.7%;
    display: block;
    font-family: inter;
    font-size: 15px;
    margin-left: 4.3%;
    color: white;
    font-weight: 600;

}
.subtitulo-jornalismo{
    text-decoration: none;
    margin-top: 2%;
    display: block;
    font-size: 13px;
    font-family: inter;
    margin-left: 5%;
    color: white;
}
.espaco-coluna1{
    width: 27%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 2%;
    margin-left: 3.5%;
}
.viuva-chorao-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2.6%;
}
.titulo-viuva-chorao{
    text-decoration: none;
    display: block;
    margin-left: 13%;
    margin-top: -8.3%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
    

}
.subtitulo-coluna1{
    text-decoration: none;
    margin-left: 13%;
    margin-top: 0.5%;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;

}
.jacare-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2.6%;
}
.titulo-jacare{
    text-decoration: none;
    display: block;
    margin-left: 13%;
    margin-top: -8.3%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.OMS-titulo{
    text-decoration: none;
    display: block;
    margin-left: 3%;
    margin-top: 2%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.subtitulo-sem-foto{
    text-decoration: none;
    margin-left: 3%;
    margin-top: 1%;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;

}
.stanley-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2.6%;
}
.titulo-stanley{
    text-decoration: none;
    display: block;
    margin-left: 13%;
    margin-top: -8.3%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.veterano-img{
    width: 392px;
    margin-left:2.6%;
    margin-top: 1%;
    border-radius: 5%;
}
.titulo-veterano{
    text-decoration: none;
    display: block;
    margin-left: 2.6%;
    margin-top: 1%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.recordista-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2.6%;
}
.titulo-recordista{
    text-decoration: none;
    display: block;
    margin-left: 13%;
    margin-top: -8.3%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.musk{
    text-decoration: none;
    display: block;
    margin-left: 3%;
    margin-top: 2%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.essequibo-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2.6%;
}
.titulo-essequibo{
    text-decoration: none;
    display: block;
    margin-left: 13%;
    margin-top: -8.3%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.pf-solicita-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2.6%;
}
.pf-solicita-texto{
    text-decoration: none;
    display: block;
    margin-left: 13%;
    margin-top: -8.3%;
    font-family: inter;
    color: rgb(196, 23, 12);
    font-weight: 600;
}
.texto-esporte{
    text-decoration: none;
    font-family: inter;
    font-size: 35px;
    float: right;
    color: rgb(6, 170, 72);
    font-weight: 600;
    margin-top: -136.5%;
    margin-right:50%;
}
.espaco-verde{
    width: 15%;
    height: 2.5px;
    background-color: rgb(6, 170, 72);
    margin-top: -132.9%;
    margin-right:45%;
    float: right;
}
.espaco-branco2{
    width: 9%;
    height: 2.5px;
    background-color:#ebedef;
    margin-top: -132.9%;
    margin-right:36%;
    float: right;
   
 

}
.divorcio-img{
    width: 330px;
    margin-top: -131%;
    margin-right:36%;
    float: right;

    border-radius: 5%;
}
.divorcio-caixa{
    width: 330px;
    height: 120px;
    border-radius: 5%;
    background-color: rgb(6, 170, 72);
    margin-top: -117.98%;
    margin-right:36%;
    float: right;
   
}
.texto-divorcio{
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: inter;
    color: white;
    margin-top: 10%;
    margin-right:5%;
    float: right;
    font-weight: 600;
}
.subtitulo-esportes{
    text-decoration: none;
    font-size: 13px;
    font-family: inter;
    margin-left: 5%;
    color: white;
    margin-top: -110.98%;
    margin-right:48%;
    float: right;
   
}
.espaco-coluna2{
    width: 27%;
    height: 1px;
    background-color:#ebedef;
    margin-top: -108.8%;
    margin-right:33%;
    float: right;

}
.sao-paulo-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: -107%;
    margin-right:50%;
    float: right;
}
.titulo-sao-paulo{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    margin-top: -106.98%;
    margin-right:31%;
    float: right;
}
.subtitulo-coluna2{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: -100.98%;
    margin-right:38%;
    float: right;
}
.espaco-coluna2-1{
    width: 27%;
    height: 1px;
    background-color:#ebedef;
    margin-top: -99.8%;
    margin-right:33%;
    float: right;

}
.botafogo-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: -97.8%;
    margin-right:50%;
    float: right;
}
.botafogo{

    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    margin-top: -97.8%;
    margin-right:30%;
    float: right;
}
.espaco-coluna2-2{
    width: 27%;
    height: 1px;
    background-color:#ebedef;
    margin-top: -90.4%;
    margin-right:33%;
    float: right;
}
.subtitulo-botafogo{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: -91.8%;
    margin-right:38%;
    float: right;
}
.pre-olimpico-titulo{
   
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    margin-top: 6%;
    display: block;
    
   
}
.subtitulo-coluna2-3{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;

}
.espaco-coluna2-3{
    width: 100%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 7%;
    float: right;
}


.vitor-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 5%;
}
.titulo-vitor{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    display: block;
    margin-left: 40%;
    margin-top: -31.7%;
}
.subtitulo-vitor{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 40%;

}
.espaco-vitor{
    width: 100%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 4.6%;
    float: right;
}
.lebron-img{
    width: 392px;
    margin-top: 3.6%;
    border-radius: 5%; 

}
.titulo-lebron{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    display: block;
    margin-left: 1%;
    margin-top: 4%;
}
.subtitulo-lebron{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 1%;
}
.espaco-lebron{
    width: 110%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 6%;
    float: right;
    margin-right: -10%;
}
.xavi-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 8%;
}
.titulo-xavi{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    display: block;
    margin-left: 40%;
    margin-top: -32%;
}
.subtitulo-xavi{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 40%;
}
.espaco-xavi{
    width: 110%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 7%;
    float: right;
    margin-right: -10%;
}
.guardiola-titulo{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    display: block;
    margin-top: 15%;
 
}
.subtitulo-guardiola{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;
   
}
.espaco-guardiola{
    width: 110%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 7%;
    float: right;
    margin-right: -10%;
}
.bolao-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 8%;
}
.titulo-bolao{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    display: block;
    margin-left: 40%;
    margin-top: -32%;
}
.subtitulo-bolao{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 40%;
}
.espaco-bolao{
    width: 110%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 5.5%;
    float: right;
    margin-right: -10%;
} 
.bicampeao-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 5%;
}
.bicampeao-texto{
    text-decoration: none;
    font-family: inter;
    color: rgb(6, 170, 72);
    font-weight: 600;
    display: block;
    margin-left: 40%;
    margin-top: -31.5%;
}
.subtitulo-bicampeao{
    text-decoration: none;
    display: block;
    color: rgb(110, 114, 122);
    font-family: inter;
    font-size: 13px;
    margin-top: 4%;
    margin-left: 40%;
}

.entretenimento{
    text-decoration: none;
    font-family: inter;
    font-size: 35px;
    color: rgb(255, 103, 0);
    font-weight: 600;
    display: block;
    margin-left: 120%;
    margin-top: -499%;
   
    
}  
.linha-laranja-coluna3{
    width: 70%;
    height: 3px;
    background-color:rgb(255, 103, 0) ;
    margin-left: 120%;
    margin-top: 1%;
    
    display: block;
}
.linha-branca-coluna3{
    width: 30%;
    height: 2.5px;
    background-color:#ebedef ;
    margin-left: 190%;
    margin-top: -0.8%;
    
    display: block;
}
.musa-img{
    width: 330px;
    margin-left: 124.7%;
    border-radius: 5%;
    margin-top: 6.7%;
}
.box-musa{
    width: 330px;
    height: 120px;
    border-radius: 5%;
    background-color:rgb(255, 103, 0) ;
    margin-left: 124.7%;
    margin-top: -4%;
}
.musa-titulo{
   display: block;
    font-size: 15px;
    font-family: inter;
    color: white; 
    text-decoration: none;
    font-weight: 600; 
    float: right;
    margin-top: -386%; ;
    margin-right: -214%;
}
.subtitulo-musa{
    text-decoration: none;
    display: block;
    color: white;
    font-family: inter;
    font-size: 13px;
    margin-left: 133.7%;
    margin-top: -8%;
}
.espaco-musa{
    width: 100%;
    height: 1px;
    background-color:#ebedef;
    margin-top: 9.1%;
    margin-left: 121%;
}
.leo-santana-img{
    width: 133px;
    height: 110px;
    border-radius: 5%;
    margin-top: 6.8%;
    margin-left:124% ;
} 







