.quadrado{

    margin-top: 3%;
    margin-left: 4%;
    width: 1.4%;
}
.menu{
    margin-left: 6.2%;
    margin-top: -1.7%;
    font-family: inter;
    font-size: 18px;
}
.barra{
    width: 3%;
    height: 1px;
    background-color: #ebedef;
    transform: rotate(270deg);
    margin-left: 8.5%;
    margin-top: -0.8%;

}
.assine{
    margin-left: 11%;
    margin-top: -0.4%;
    font-family: inter;
    font-size: 18px;

}
.globoi{
    margin-left: 41%;
    margin-top: -2.1%;
    width: 15%;
}
.conta-globo{
    float: right;
    margin-top: -1.1%;
    margin-right: 13.5%;
    font-size: 18px;
    font-family: Inter;

}
.pessoinha{
    float: right;
    margin-right: -8.6%;
    margin-top: -1.9%;
    width: 1.6%;
}
.barra-1{
    width: 3%;
    height: 1px;
    background-color: #ebedef;
    transform: rotate(270deg);
    float: right;
    margin-right: -11.6%;
    margin-top: -0.7%;
}
.buscas{
    float: right;
    margin-right: -14%;
    margin-top: -1.1%;
    font-family: inter;
    font-size: 18px;
}
.lupa{
    float: right;
    margin-right: -17%;
    margin-top: -1.6%;
    width: 2.3%;
}
.espaco{
    width: 100%;
    height: 1px;
    background-color: #ebedef;
    margin-top: 1%;
}
.g1{
    text-decoration: none;
}
.g11{
 
    font-family: inter;
    display: block;
    margin-left: 5%;
    color: rgb(196, 23, 12);
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.4%;
}
.o-globo{
    text-decoration: none;
}
.globin{
    margin-left: 13%;
    color: rgb(30, 76, 154);
    font-size: 20px;
    font-weight: 600;
    margin-top: -1.4%;
    font-family: inter;

    
    
}
.valor1{
    text-decoration: none;
}
.valor{
    margin-left: 23%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    color: rgb(0, 103, 103);
    font-weight: 600;
   
}
.ge1{
    text-decoration: none;
}
.ge{
    margin-left: 32%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(6, 170, 72);   
}
.cartola1{
    text-decoration: none;
}
.cartola{
    margin-left: 39%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(255, 116, 0); 
   
}
.globoplay1{
    text-decoration: none;
}
.globoplay{
    margin-left: 48%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600;  
    color: rgb(251, 2, 52);
}
.gshow1{
    text-decoration: none;
}
.gshow{
    margin-left: 58%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(255, 103, 0); 
   
}
.bbb1{
    text-decoration: none;
}
.bbb{
    margin-left: 67%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600;
    color: rgb(80, 1, 179);  
    
}
.quem1{
    text-decoration: none;
}
.quem{
    margin-left: 76%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(51, 51, 51); 
  
}
.receitas1{
    text-decoration: none;
}
.receitas{
    margin-left: 85%;
    font-family: inter;
    margin-top: -1.4%;
    font-size: 20px;
    font-weight: 600; 
    color: rgb(165, 20, 125); 
    
}
.barra-2{
    width: 100%;
    height: 1px;
    background-color: #ebedef;
    margin-top: 0.5%;
}
